@{
    ViewData["Title"] = "Main";
}
<link rel="stylesheet" href="~/css/main.css" asp-append-version="true" />

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <div class="page">

        <div class="prt-1">
            <div class="main">
                <p class="logo">
                    CVHub
                </p>
                <img src="/images/comp.png" alt="comp">
            </div>
            <div class="options">

                <select class="dropdown">
                    <option disabled selected>Expirience</option>
                    <option value="1" class="choosing">0–2 years</option>
                    <option value="2" class="choosing">3–5 years</option>
                    <option value="3" class="choosing">5+ years</option>
                </select>

                <select class="dropdown">
                    <option disabled selected class="choosing">Role</option>
                    <option value="dev" class="choosing">Frontend Developer</option>
                    <option value="pm" class="choosing">Backend Developer</option>
                    <option value="kl" class="choosing">Fullstack Developer</option>
                    <option value="sd" class="choosing">Mobile Developer (iOS / Android)</option>
                    <option value="gf" class="choosing">Game Developer</option>
                    <option value="wr" class="choosing">Automation QA</option>
                </select>

                <select class="dropdown">
                    <option disabled selected class="choosing">Seniority</option>
                    <option value="jr" class="choosing">Junior</option>
                    <option value="mid" class="choosing">Middle</option>
                    <option value="sr" class="choosing">Senior</option>
                </select>
            </div>
        </div>
        <div class="cards">
            <div class="card">
                <div class="avatar">
                    <img src="/images/avatar.png" alt="avatar">
                </div>
                <div class="part">
                    <div class="about">
                        <div class="name">
                            <p>Lena</p>
                            <p>Fedchenko</p>
                        </div>
                        <div class="tags">
                            <div class="tag1">
                                <p>
                                    Senior
                                </p>
                            </div>
                            <div class="tag2">
                                <p>
                                    Senior
                                </p>
                            </div>
                            <div class="tag3">
                                <p>
                                    2 year experience
                                </p>
                            </div>
                        </div>
                    </div>
                    <div>
                        <p class="work">
                            iOS developer
                        </p>
                        <div class="languages">
                            <div class="language">
                                <p>
                                    Js
                                </p>
                            </div>
                            <div class="language">
                                <p>
                                    Python
                                </p>
                            </div>
                            <div class="language">
                                <p>
                                    C#
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="avatar">
                    <img src="/images/avatar.png" alt="avatar">
                </div>
                <div class="part">
                    <div class="about">
                        <div class="name">
                            <p>Lena</p>
                            <p>Fedchenko</p>
                        </div>
                        <div class="tags">
                            <div class="tag1">
                                <p>
                                    Senior
                                </p>
                            </div>
                            <div class="tag2">
                                <p>
                                    Senior
                                </p>
                            </div>
                            <div class="tag3">
                                <p>
                                    2 year experience
                                </p>
                            </div>
                        </div>
                    </div>
                    <div>
                        <p class="work">
                            iOS developer
                        </p>
                        <div class="languages">
                            <div class="language">
                                <p>
                                    Js
                                </p>
                            </div>
                            <div class="language">
                                <p>
                                    Python
                                </p>
                            </div>
                            <div class="language">
                                <p>
                                    C#
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="avatar">
                    <img src="/images/avatar.png" alt="avatar">
                </div>
                <div class="part">
                    <div class="about">
                        <div class="name">
                            <p>Lena</p>
                            <p>Fedchenko</p>
                        </div>
                        <div class="tags">
                            <div class="tag1">
                                <p>
                                    Senior
                                </p>
                            </div>
                            <div class="tag2">
                                <p>
                                    Senior
                                </p>
                            </div>
                            <div class="tag3">
                                <p>
                                    2 year experience
                                </p>
                            </div>
                        </div>
                    </div>
                    <div>
                        <p class="work">
                            iOS developer
                        </p>
                        <div class="languages">
                            <div class="language">
                                <p>
                                    Js
                                </p>
                            </div>
                            <div class="language">
                                <p>
                                    Python
                                </p>
                            </div>
                            <div class="language">
                                <p>
                                    C#
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="avatar">
                    <img src="/images/avatar.png" alt="avatar">
                </div>
                <div class="part">
                    <div class="about">
                        <div class="name">
                            <p>Lena</p>
                            <p>Fedchenko</p>
                        </div>
                        <div class="tags">
                            <div class="tag1">
                                <p>
                                    Senior
                                </p>
                            </div>
                            <div class="tag2">
                                <p>
                                    Senior
                                </p>
                            </div>
                            <div class="tag3">
                                <p>
                                    2 year experience
                                </p>
                            </div>
                        </div>
                    </div>
                    <div>
                        <p class="work">
                            iOS developer
                        </p>
                        <div class="languages">
                            <div class="language">
                                <p>
                                    Js
                                </p>
                            </div>
                            <div class="language">
                                <p>
                                    Python
                                </p>
                            </div>
                            <div class="language">
                                <p>
                                    C#
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
