@model Authorisation
@{
    ViewData["Title"] = "Authorization";
}

<link rel="stylesheet" href="~/css/authorisation.css" asp-append-version="true" />

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Authorization - CV Hub</title>
</head>
<body>
    <div class="left">
        <div class="cv">
            <h1>CV</h1>
        </div>
        <div class="about">
            <p>Web platform for posting your CV.<br> Ability to add a link to git, talk about<br> work experience and add<br> publications</p>
        </div>
    </div>
    <div class="right">
        <div class="hub">
            <h1>Hub</h1>
        </div>
        
        <form method="post" asp-controller="Authorisation" asp-action="CheckUser" class="forms2">
            @Html.AntiForgeryToken()
            
            <div class="btn">
                <a asp-controller="Registration" asp-action="Index" class="main-btn">Registration</a>
                <a asp-controller="Authorisation" asp-action="Index" class="sec-btn">Authorization</a>
            </div>

            <div asp-validation-summary="All" class="text-danger"></div>

            <input asp-for="Email" class="inp" placeholder="Enter email"/>
            <span asp-validation-for="Email" class="text-danger"></span>

            <input asp-for="Password" class="inp" placeholder="Enter password" type="password"/>
            <span asp-validation-for="Password" class="text-danger"></span>

            <button type="submit" class="btn2">Log in</button>
            
            <div class="links">
                <a asp-controller="Home" asp-action="Index">Continue as guest</a>
            </div>
        </form>
    </div>
</body>
</html>