@model Registration
@{
    ViewData["Title"] = "registration";
}
<link rel="stylesheet" href="~/css/registration.css" asp-append-version="true" />

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
        <div class="left">
            <div class="cv">
                <h1>CV</h1>
            </div>
            <div class="about">
                <p>Web platform for posting your CV.<br> Ability to add a link to git, talk about<br> work experience and add<br> publications</p>
            </div>
        </div>
        <div class="right">
            <div class="hub">
                <h1>Hub</h1>
            </div>
            
            
                <form method="post" asp-controller="Registration" asp-action="Check" class="forms2">
                    <div class="btn">
                        <button class="main-btn"><a asp-controller="Registration" asp-action="Index">Registration</a></button>
                        <button class="sec-btn"><a asp-controller="Registration" asp-action="Login">Authorisation</a></button>
                    </div>

                    <input asp-for="Name" class="inp" placeholder="Enter name"/>
                    <span asp-validation-for="Name"></span>

                    <input asp-for="Surname" class="inp" placeholder="Enter surname"/>
                    <span asp-validation-for="Surname"></span>

                    <input asp-for="Email" class="inp" placeholder="Enter email"/>
                    <span asp-validation-for="Email"></span>

                    <input asp-for="Password" class="inp" placeholder="Enter password" type="password"/>
                    <span asp-validation-for="Password"></span>

                    <button type="submit" class="btn2">Create</button>
                    
                </form>
        </div>
</body>
</html>